{% extends 'layout.html.twig' %}
{% set active = "card" %}
{% block panel %}
<div class="row">
	<h2 class="featurette-heading">{% trans %}tapas{% endtrans %}</h2>
    <hr class="soften">
	<div class="span5">
		{% for i in range(1, 11) %}
			{% set aux = "card_"~i%}
			<p>{{ aux|trans}}</p>
		{% endfor %}
	</div>
	<div class="span5">
		{% for i in range(12, 23) %}
			{% set aux = "card_"~i%}
			<p>{{ aux|trans}}</p>
		{% endfor %}
	</div>
</div>
<div class="row">
	<h2 class="featurette-heading">{% trans %}breakfast{% endtrans %}</h2>
    <hr class="soften">
	<div class="span5">
		{% for i in range(24, 26) %}
			{% set aux = "card_"~i%}
			<p>{{ aux|trans}}</p>
		{% endfor %}
	</div>
	<div class="span5">
		{% for i in range(27, 30) %}
			{% set aux = "card_"~i%}
			<p>{{ aux|trans}}</p>
		{% endfor %}
	</div>
</div>
<div class="row">
	<h2 class="featurette-heading">{% trans %}bread_rolls{% endtrans %}</h2>
    <hr class="soften">
	<div class="span5">
		{% for i in range(31, 37) %}
			{% set aux = "card_"~i%}
			<p>{{ aux|trans}}</p>
		{% endfor %}
	</div>
	<div class="span5">
		{% for i in range(38, 44) %}
			{% set aux = "card_"~i%}
			<p>{{ aux|trans}}</p>
		{% endfor %}
	</div>
</div>
<div class="row">
	<h2 class="featurette-heading">{% trans %}salads{% endtrans %}</h2>
    <hr class="soften">
	<div class="span5">
		{% for i in range(45, 46) %}
			{% set aux = "card_"~i%}
			<p>{{ aux|trans}}</p>
		{% endfor %}
	</div>
	<div class="span5">
		{% for i in range(47, 48) %}
			{% set aux = "card_"~i%}
			<p>{{ aux|trans}}</p>
		{% endfor %}
	</div>
</div>
<div class="row">
	<h2 class="featurette-heading">{% trans %}plates_of_the_day{% endtrans %}</h2>
    <hr class="soften">
	<div class="span5">
		{% for i in range(49, 53) %}
			{% set aux = "card_"~i%}
			<p>{{ aux|trans}}</p>
		{% endfor %}
	</div>
	<div class="span5">
		{% for i in range(54, 56) %}
			{% set aux = "card_"~i%}
			<p>{{ aux|trans}}</p>
		{% endfor %}
	</div>
</div>
<div class="row">
	<h2 class="featurette-heading">{% trans %}desserts{% endtrans %}</h2>
    <hr class="soften">
	<div class="span5">
		{% for i in range(57, 63) %}
			{% set aux = "card_"~i%}
			<p>{{ aux|trans}}</p>
		{% endfor %}
	</div>
	<div class="span5">
		{% for i in range(64, 69) %}
			{% set aux = "card_"~i%}
			<p>{{ aux|trans}}</p>
		{% endfor %}
	</div>
</div>
{% endblock %}