<li{% if active == "home" %} class="active"{% endif %}><a href="{{ path('home') }}">Inicio</a></li>
<li{% if active == "card" %} class="active"{% endif %}><a href="{{path('card')}}">Carta</a></li>
<li{% if active == "gallery" %} class="active"{% endif %}><a href="{{ path('gallery') }}">Galería</a></li>
<li{% if active == "about" %} class="active"{% endif %}><a href="{{path('about')}}">Sobre Nosotros</a></li>
<li{% if active == "press" %} class="active"{% endif %}><a href="{{path('press')}}">Mapa y Prensa</a></li>