{% extends 'layout.html.twig' %}
{% set active = "press" %}
{% block panel %}
    <h2>{% trans %}map{% endtrans %}</h2>
    <hr class="soften">
    <div class="span9 offset 1">
       <!--<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=kasparo&amp;hl=es&amp;sll=37.0625,-95.677068&amp;sspn=48.50801,88.417969&amp;hq=kasparo&amp;t=m&amp;ie=UTF8&amp;z=1&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=kasparo&amp;hl=es&amp;sll=37.0625,-95.677068&amp;sspn=48.50801,88.417969&amp;hq=kasparo&amp;t=m&amp;ie=UTF8&amp;z=1&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left"></a></small>-->

<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=Kasparo,+Barcelona,+Espa%C3%B1a&amp;aq=0&amp;oq=kasparo,+b&amp;sll=37.0625,-95.677068&amp;sspn=48.50801,93.076172&amp;t=m&amp;ie=UTF8&amp;hq=Kasparo,&amp;hnear=Barcelona,+Catalu%C3%B1a,+Espa%C3%B1a&amp;cid=15731680316560030780&amp;ll=41.394389,2.172375&amp;spn=0.022536,0.038624&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=Kasparo,+Barcelona,+Espa%C3%B1a&amp;aq=0&amp;oq=kasparo,+b&amp;sll=37.0625,-95.677068&amp;sspn=48.50801,93.076172&amp;t=m&amp;ie=UTF8&amp;hq=Kasparo,&amp;hnear=Barcelona,+Catalu%C3%B1a,+Espa%C3%B1a&amp;cid=15731680316560030780&amp;ll=41.394389,2.172375&amp;spn=0.022536,0.038624&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">{% trans %}see_map{% endtrans %}</a></small>




    </div>

    <h2>{% trans %}timetable{% endtrans %}</h2>
    <hr class="soften">
    <div class="row" style="margin-left: 30px">
    <div class="span9" style="text-align:left">
        <div class="span3" style="text-align: left">
        <b>Horario de Verano</b><br>
        <hr class="slim">
        De Martes a Sábado: 
        <p style="text-align:right">
        <i style="font-weight:bold; font-size:14px">9:00 - 00:00<i>
        </p>
        Lunes y Domingo: 
        <p style="text-align:right">
        <i style="font-weight:bold; font-size:14px">cerrado<i>
        </p>

        </div>
        <div class="span3 offset2">
        <b>Horario de Invierno</b><br>
        <hr class="slim">
        De Martes a Sábado: 
        <p style="text-align:right">
        <i style="font-weight:bold; font-size:14px">9:00 - 22:30<i>
        </p>
        Lunes y Domingo: 
        <p style="text-align:right">
        <i style="font-weight:bold; font-size:14px">cerrado<i>
        </p>
        </div>
    </div>
    </div>
    <br>

    <h2>{% trans %}press{% endtrans %}</h2>
    <hr class="soften">
    <div class="row" style="margin-left: 0px">
    {% for entity in entities %}
    <a href="{{ entity.path}}" target="_blank">
    <div class="span4" style="text-align:left">
        <i class="icon-zoom-in" style="font-size: 30px; float:left; margin-top: 10px"></i>
        <div class="span3">
        <h3>{{ entity.name }}</h3>
        <p>{{ entity.description }}</p>
        </div>
    </div>
    </a>
    {% endfor %}
    </div>
    {#<ul id="pg">
        
            <li>
                <img src="{{ entity.path }}" alt="{{entity.name}}">
                <p>{{entity.name}}</p>
            </li>

    </ul>#}
{% endblock %}
{% block extraJavascript %}
    <script type="text/javascript" src="/public/js/jphotogrid.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#pg').jphotogrid({
                baseCSS: {
                    width: '31%',
                    height: '160px',
                    padding: '0px'
                },
                selectedCSS: {
                    top: '0',
                    left: '0',
                    width: '100%',
                    height: '100%',
                    padding: '0px',
                    backbroundColor: '#333'
                }
            });

        });
    </script>
{% endblock %}
{% block extra %}
    <style type="text/css">
        #pg { position: relative; min-height: 885px; margin-left: 0px; padding-left: 0px;  width:100% }
        #pg li { position: relative; list-style: none; width: 31%; margin-left: 3%; height: 160px; overflow: hidden; float: left; z-index: 2; opacity: .9; margin:10px; background-color: white; }
        #pg li.active { opacity: 1; box-shadow: 0px 0px 5px #333; background-color: #333; }
        #pg li.active img { box-shadow: 0px 0px 10px #999;  }
        #pg li.selected { opacity: 1; z-index: 99; -moz-box-shadow: 0px 0px 10px #fff; -webkit-box-shadow: 0px 0px 10px #fff; }
        #pg li img { display: block; width: 100%;  }
        #pg li p { color: #333; margin: 10px 0; font-size: 18px; margin:5px }
    </style>
{% endblock %}